certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cryptography==3.3.1
decorator==4.4.2
Django==2.2.17
django-cors-headers==3.6.0
django-rest-knox==4.1.0
djangorestframework==3.12.2
et-xmlfile==1.0.1
future==0.18.2
geocoder==1.38.1
idna==2.10
jdcal==1.4.1
numpy==1.19.4
openpyxl==3.0.5
pandas==1.2.0
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.5
ratelim==0.1.6
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
xlrd==2.0.1
